In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import pydotplus
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier

In [9]:
df = pd.read_csv('SoccerLEagues.csv')

In [10]:
df.describe()

,CountryID,Games,HomeWins,HomeDraw,HomeLoss,AwayWins,AwayDraw,AwayLoss,HomeWinRatio,HomeLossRatio,HomeDrawRatio,AwayWinRatio,AwayLossRatio,AwayDrawRatio,TotalPoint,SuccessRate
count,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.00000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000
mean,2.959184,35.863946,8.350340,4.675170,4.906463,4.906463,4.67517,8.350340,0.464442,0.274384,0.261174,0.274194,0.464967,0.260839,49.120748,0.879252
std,1.400304,3.691492,3.339871,2.032512,2.651815,2.796888,2.00211,3.165463,0.176664,0.146540,0.111525,0.154218,0.169506,0.109682,16.114498,0.326112
min,1.000000,24.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,34.000000,6.000000,3.000000,3.000000,3.000000,3.00000,6.000000,0.333333,0.157895,0.176471,0.157895,0.357143,0.176471,39.000000,1.000000
50%,3.000000,38.000000,8.000000,5.000000,5.000000,4.000000,5.00000,9.000000,0.428571,0.263158,0.263158,0.250000,0.473684,0.263158,46.000000,1.000000
75%,4.000000,38.000000,10.000000,6.000000,7.000000,6.000000,6.00000,11.000000,0.578947,0.368421,0.333333,0.368421,0.578947,0.315789,58.000000,1.000000
max,5.000000,40.000000,19.000000,10.000000,17.000000,16.000000,11.00000,17.000000,1.000000,1.000000,0.636364,0.842105,1.000000,0.642857,102.000000,1.000000

In [11]:
features = df.drop(['SuccessRate'], axis=1)
target = df[['SuccessRate']]

In [12]:
param_model = DecisionTreeClassifier(max_depth=5, min_samples_split=10, min_samples_leaf=10, random_state=42)

In [13]:
xtr = features[:100]
xte = features[100:]
ytr = target[:100]
yte = target[100:]

In [14]:
tree=RandomForestClassifier()
model3=tree.fit(xtr,ytr)

C:\Users\hasot\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [15]:
Prediction2=model3.predict(xte)

In [16]:
Prediction2

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1], dtype=int64)

In [17]:
yte

     SuccessRate
100            1
101            0
102            0
103            0
104            0
105            0
106            0
107            0
108            0
109            0
110            0
111            0
112            0
113            0
114            0
115            0
116            0
117            0
118            0
119            0
120            1
121            1
122            1
123            1
124            1
125            1
126            1
127            1
128            1
129            1
..           ...
558            1
559            1
560            1
561            1
562            1
563            1
564            1
565            1
566            1
567            1
568            1
569            1
570            1
571            1
572            1
573            0
574            0
575            0
576            0
577            0
578            0
579            0
580            0
581            0
582            0
583            0
584            0
585            0
586            0
587            0

[488 rows x 1 columns]